body{
    background-color: rgb(232, 216, 248);
    color: rgb(133, 61, 216)
}
h1{
    color: rgb(144, 51, 231)
}
h2{

}
p{
    background-color: rgb(191, 150, 228);
    color: rgb(0, 0, 0);
    padding: 10px;
}
h2{

}
p{

}
